<div class="row">
  <%- if @question.errors.present? -%>
    <div class="large-12 alert-box alert" data-alert>
      <ul>
        <%- @question.errors.full_messages.each do |error| -%>
          <li><%= error %></li>
        <%- end -%>
      </ul>
    </div>
  <%- end -%>

  <div class="large-12">
    <h1>New Question</h1>

    <%= form_for @question do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </br></br>

      <%= f.label :body %>
      <%= f.text_area :body %>
    </br></br>

      <%= f.submit "Submit Question" %>
    <%- end -%>
  </div>
</div>
